<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sams Example SMART App</title>
    <script src="https://cdn.jsdelivr.net/npm/fhirclient/build/fhir-client.js"></script>
    <link rel="stylesheet" href="src/css/example-smart-app.css">
    <style>
        #patient, #meds {overflow: scroll};
    </style>
</head>
<body>
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                   <div class="text-center">
                         <h1 class="display-4">EconomicEXPERT</h1>
                    </div>
            </div>
        </nav>
    </header>

	<div class="container-fluid full-height">

		<div class="row full-height" ng-hide="EditableConfiguration">

			<div class="search col-md-3">

				<form name="searchForm" role="form">

					<!-- See http://ihe.net/uploadedFiles/Documents/ITI/IHE_ITI_Suppl_PDQm.pdf - M.4.2 Patient Demographics Query Parameters -->

					<div class="form-group" ng-show="searchFieldEnabled('identifier')">
						<label for="identifier">{{ searchFieldLabel('identifier') }}</label>
						<select id="identifierSystem" class="form-control"
								ng-model="IdentifierSystem"
								ng-options="system.uri as system.name for system in searchIdentifierSystems()"></select>
						<input id="identifier" name="identifier" type="text" class="form-control" ng-model="Identifier" />
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('name')">
						<label for="name">{{ searchFieldLabel('name') }}</label>
						<input id="name" name="name" type="text" class="form-control" ng-model="Name" />
						<div>
							<select ng-model="NameOperator">
								<option value="">Starts with</option>
								<option value="contains">Contains</option>
								<option value="exact">Exact</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('family')">
						<label for="lastName">{{ searchFieldLabel('family') }}</label>
						<input id="lastName" name="lastName" type="text" class="form-control" ng-model="Family" />
						<div>
							<select ng-model="FamilyOperator">
								<option value="">Starts with</option>
								<option value="contains">Contains</option>
								<option value="exact">Exact</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('given')">
						<label for="firstName">{{ searchFieldLabel('given') }}</label>
						<input id="firstName" name="firstName" type="text" class="form-control" ng-model="Given">
						<div>
							<select ng-model="GivenOperator">
								<option value="">Starts with</option>
								<option value="contains">Contains</option>
								<option value="exact">Exact</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('birthdate')">
						<label for="birthDate">{{ searchFieldLabel('birthdate') }}</label>
						<input id="birthDate" name="birthDate" type="text" class="form-control" placeholder="yyyy-mm-dd" ng-model="BirthDate">
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('age')">
						<label for="age">{{ searchFieldLabel('age') }}</label>
						<input id="age" name="age" type="text" class="form-control" ng-model="Age">
						<div>
							<select ng-model="AgeOperator">
								<option value="">Equal</option>
								<option value="gt">Greater</option>
								<option value="ge">Greater or equal</option>
								<option value="lt">Less</option>
								<option value="le">Less or equal</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('address')">
						<label for="address">{{ searchFieldLabel('address') }}</label>
						<input id="address" name="address" type="text" class="form-control" ng-model="Address">
						<div>
							<select ng-model="AddressOperator">
								<option value="">Starts with</option>
								<option value="contains">Contains</option>
								<option value="exact">Exact</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('gender')">
						<label for="gender">{{ searchFieldLabel('gender') }}</label>
						<select id="gender" class="form-control"
								ng-model="Gender"
								ng-options="value.code as value.name for value in genderValues()">
							<option value="">&lt;Any&gt;</option>
						</select>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('race')">
						<label for="race">{{ searchFieldLabel('race') }}</label>
						<select id="race" class="form-control"
								ng-model="Race"
								ng-options="value as value.name for value in raceValues()">
							<option value="">&lt;Any&gt;</option>
						</select>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('ethnicity')">
						<label for="ethnicity">{{ searchFieldLabel('ethnicity') }}</label>
						<select id="ethnicity" class="form-control"
								ng-model="Ethnicity"
								ng-options="value as value.name for value in ethnicityValues()">
							<option value="">&lt;Any&gt;</option>
						</select>
					</div>

					<div class="form-group" ng-show="searchFieldEnabled('telecom')">
						<label for="telecom">{{ searchFieldLabel('telecom') }}</label>
						<input id="telecom" name="telecom" type="text" class="form-control" ng-model="Telecom">
						<div>
							<select ng-model="TelecomOperator">
								<option value="">Starts with</option>
								<option value="contains">Contains</option>
								<option value="exact">Exact</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="sort">Sort by:</label>
						<select id="sort" class="form-control"
								ng-model="Sort"
								ng-options="sort.directive as sort.name for sort in Sorts">
							<option value="">&lt;None&gt;</option>
						</select>
					</div>

					<button type="submit" class="btn btn-success" ng-click="search('Patient')" ng-disabled="searchDisabled()">Search</button>
					<button class="btn btn-default" ng-click="configure()">Configure</button>

				</form>

				<div class="logo">
					<a href="http://careevolution.com" target="_blank">
						<img src="Images/CareEv-logo-small.png" title="Patient Demographics - Copyright © 2015 CareEvolution Inc." />
					</a>
				</div>

			</div>
    
        
    <h4>Current Patient</h4>
    <div id="patient">Loading...</div>
    <br />
    <h4>Medications</h4>
    <div id="meds">Loading...</div>
    <script type="text/javascript">
        FHIR.oauth2.ready().then(function (client) {

            // Render the current patient (or any error)
            client.patient.read().then(
                function (pt) {
                    document.getElementById("patient").innerText = JSON.stringify(pt, null, 4);
                },
                function (error) {
                    document.getElementById("patient").innerText = error.stack;
                }
            );

            // Get MedicationRequests for the selected patient
            client.request("/MedicationRequest?patient=" + client.patient.id, {
                resolveReferences: ["medicationReference"],
                graph: true
            })

                // Reject if no MedicationRequests are found
                .then(function (data) {
                    if (!data.entry || !data.entry.length) {
                        throw new Error("No medications found for the selected patient");
                    }
                    return data.entry;
                })


                // Render the current patient's medications (or any error)
                .then(
                    function (meds) {
                        document.getElementById("meds").innerText = JSON.stringify(meds, null, 4);
                    },
                    function (error) {
                        document.getElementById("meds").innerText = error.stack;
                    }
                );

        }).catch(console.error);
    </script>
</body>
</html>
